header {
  box-shadow: 0 0 10px 0 #ddd;
  background-color: white;

  .container {
    @include flex-space-between(true);

    .logo {
      padding: 15px 0;
      color: $black;
      @include font(25px, bold);
    }

    nav {
      display: flex;
      align-items: center;
      position: relative;

      .burger-icon {
        cursor: pointer;
        font-size: 22px;

        @media (min-width: 560px) {
          display: none;
        }
      }

      ul {
        display: flex;
        align-items: center;

        li {
          padding: 15px 30px;
          overflow: hidden;

          a {
            color: $black;
            transition: $mainTransition;
            @include font($mainPSize, 300);

            &:hover,
            &.active {
              color: $lightBlue;
            }
          }

          @media (max-width: 560px) {
            padding: 8px 16px;

            a {

              font-size: 16px;
            }
          }
        }
      }
    }

    @media (max-width: 560px) {
      justify-content: center;
      flex-direction: column;
    }
  }
}