header {
  box-shadow: 0 0 10px 0 #ddd;
  background-color: white;

  .container {
    @include flex-space-between(true);

    .logo {
      padding: 15px 0;
      color: $black;

      img {
        width: 100px;
        animation: left-to-right 1s;
        transition: $mainTransition;

        &:hover {
          filter: brightness(110%);
          transform: scale(1.2);
        }
      }
    }

    nav {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 99999;
      opacity: 0;
      animation: fadeInDown 1s forwards;

      .burger-icon {
        cursor: pointer;
        font-size: 22px;

        @media (min-width: 560px) {
          display: none;
        }
      }

      ul {
        display: flex;
        align-items: center;

        li {
          padding: 15px 30px;
          overflow: hidden;

          a {
            color: $black;
            transition: $mainTransition;
            @include font(18px, 300);

            &:hover,
            &.active {
              color: $lightBlue;
              font-size: 20px;
            }
          }

          @media (max-width: 560px) {
            padding: 8px 16px;

            a {
              font-size: 16px;
            }
          }
        }
      }
    }

    @media (max-width: 560px) {
      justify-content: center;
      flex-direction: column;
    }
  }
}