@keyframes up-and-down {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-50px);
  }
}

@keyframes left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  70% {
    opacity: 1;
    transform: translateX(20px) scale(0.8);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(50px)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}