@import "./variables/variables";

@import "./helpers/mixins";

@import "./layout/global-rules";

@import "./layout/header";


// Start Landing
.landing {
  background-color: #ececec;
  position: relative;

  .star {
    font-size: 30px;
    color: $lightBlue;
  }

  .container {
    // align center and justify space between
    @include flex-space-between(true);
    // padding
    padding-left: 15px;
    padding-right: 15px;
    // dimensions
    margin-top: 92px;
    height: calc(100vh - 92px);
    z-index: 10;

    .text {
      // dimensions and margin
      width: 45%;
      margin-top: -50px;
      // animation move text from top to down
      animation: fadeInDown 1s forwards;
      opacity: 0;

      @media (max-width: 767px) {
        width: 100%;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
      }

      h1 {
        font-size: 2rem;
        margin-bottom: 10px;

        span {
          font-size: inherit;
          color: $lightBlue;
        }

        .star {
          font-size: inherit;
          color: $lightBlue;
        }

      }

      p {
        // main line height is 1.8
        line-height: $mainLineHeight;
        color: $grey;
        // main font size is 18px 
        font-size: $mainPSize;
        margin-bottom: 10px;
      }

      a {
        // font-size and weight
        @include font(18px, 500);
        color: #fff;
        // border and margin
        padding: 8px 16px;
        border-radius: 10px;
        // formats
        background-color: $lightBlue;
        cursor: pointer;
        transition: $mainTransition;

        &:hover {
          background-color: $lightBlueActive;
        }
      }

      @media (max-width: 992px) {
        h1 {
          font-size: 1.5rem;
        }

        p {
          font-size: 16px;
        }
      }


    }

    .image {
      width: 500px;

      img {
        width: 100%;
        opacity: 0;
        // animation move text from down to top and then infinite move up and down
        animation: fadeInTop 1s forwards, up-and-down 8s 1s infinite;
      }

      @media (max-width: 767px) {
        display: none;
      }
    }
  }
}

// End Landing

// Start Main Article Structure
article {
  @include section-padding(20px);

  .container {
    display: flex;
    align-items: center;
    opacity: 0;

    .text {
      padding: 20px;
      width: 70%;

      h3 {
        color: $lightBlue;
        font-size: 24px;
        margin-bottom: 10px;

      }

      p {
        color: $grey;
        // main font size is 18px
        font-size: $mainPSize;
        // main line height is 1.8
        line-height: $mainLineHeight;
      }

      @media (max-width: 992px) {
        h3 {
          font-size: 20px;
        }

        p {
          font-size: 16px;
        }
      }

      @media (max-width: 767px) {
        width: 100%;
        text-align: center;
      }
    }

    img {
      width: 400px;
    }

    @media (max-width: 767px) {
      flex-direction: column;

      img {
        order: -1;
        width: 300px;
      }
    }
  }
}

// End Main Article Structure

// Start First Article and Feature
.article-1,
.feature-1 {
  // padding 60px left and right
  @include section-padding(60px, 20px);

  .main-heading {
    margin-bottom: 60px;
    font-size: 32px;
    text-align: center;
    opacity: 0;

    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
  }
}

// End First Article And Feature

.leftToRight {
  animation: left-to-right 1s forwards;
}

.fadeInDown {
  animation: fadeInDown 1s forwards;
}

@import "./helpers/animations";