@import "./variables/variables";

@import "./helpers/mixins";

@import "./layout/global-rules";

@import "./layout/header";


.landing {
  background-color: #ececec;
  position: relative;

  .star {
    font-size: 30px;
    color: $lightBlue;
  }

  .container {
    @include flex-space-between(true);
    padding-left: 15px;
    padding-right: 15px;
    height: calc(100vh - 92px);
    z-index: 10;

    .text {
      width: 45%;
      animation: fadeInDown 0.8s 0.7s forwards;
      margin-top: -50px;
      opacity: 0;

      h1 {
        font-size: 30px;
        margin-bottom: 10px;

        span {
          font-size: inherit;
          color: $lightBlue;
        }

        .star {
          font-size: inherit;
          color: $lightBlue;
        }

      }

      p {
        line-height: $mainLineHeight;
        color: $grey;
        font-size: $mainPSize;
        margin-bottom: 10px;
      }

      button {
        @include font($mainPSize, 500);
        color: #fff;
        padding: 8px 16px;
        border-radius: 10px;
        background-color: $lightBlue;
        cursor: pointer;
        transition: $mainTransition;

        &:hover {
          background-color: $lightBlueActive;
        }
      }

      @media (max-width: 992px) {
        h1 {
          font-size: 25px;
        }

        p {
          font-size: 16px;
        }
      }


      @media (max-width: 767px) {
        width: 100%;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .image {
      width: 500px;

      img {
        width: 100%;
        opacity: 0;
        animation: fadeInTop 1s forwards, up-and-down 8s 2.5s infinite;
      }

      @media (max-width: 767px) {
        display: none;
      }
    }

    @media (max-width: 767px) {
      height: calc(100vh - 127px);
    }
  }
}

.article-1 {
  @include section-padding();

  .main-heading {
    margin-bottom: 60px;
    font-size: 2rem;
    text-align: center;
  }

  .container {
    display: flex;

    .text {
      padding: 20px;

      h3 {
        color: $lightBlue;
        font-size: 25px;
      }

      p {
        color: $grey;
        line-height: $mainLineHeight;
      }
    }

    img {
      width: 50%;
    }
  }
}

@import "./helpers/animations";